* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: GT America; src: url('GT-America.woff');
}

/* video background */
.video-background {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

@@media (min-aspect-ratio:16/9) {
  .video-background {
    width: 100%;
    height: auto;
  }
}
@@media (max-aspect-ratio:16/9) {
  .video-background {
    width: auto;
    height: 100%;
  }
}


/* logo */
.logo {
  position: fixed;
  margin: 20px;
  height: 180px;
  z-index: 0;
}

x-model {
    animation: 5s spin linear infinite;
  }

  @keyframes spin {
    to {
      transform: rotateY(1turn);
    }
  }

/* iframe publication */
#publication {
  position: absolute;
  height: 400px;
  top: 0%;
  left: 20%;
  margin-left: 200px;
  margin-top: 170px;
  text-align: center;
  z-index: 10;
}

.publication-close {
  font-family: GT America, sans-serif;
  margin-left: 90%;
  margin-top: 7%;
}

.publication-close:hover {
  cursor:pointer;
}

/* iframe publication button*/
button {
    display: inline-block;
    height: 110px;
    vertical-align: bottom;
    width: auto;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline: none;
    vertical-align: middle;
    max-height: 90px;
    max-width: 90px;
}

#pause img {
    height: 45px;
}

.container {
   position: relative;
}

.frame-pause {
  height: 90px;
  line-height: 90px;
  width: 130px;
  border: 1px solid transparent;

  text-align: center;
  margin: 1em 0;
  position: absolute;
  bottom: 0;
  right: 0;
}


/* categories */
.align-right {
  position: relative;
    margin-top: 0px;
    float: right;
    z-index: 20;
}

.frame {
    height: 100px;
    line-height: 100px;
    width: 130px;
    border: 1px solid transparent;

    text-align: center;
    margin: 15px 0;
}

.btn img {
    background: none;
    vertical-align: middle;
    max-height: 80px;
    max-width: 80px;
}

#object1{
position: absolute;
  width: 30%;
  height: 25%;
	margin-left: 14%;
	margin-top: 3%;
  z-index: 20;
}


#object2{
position: absolute;
  width: 30%;
  height: 25%;
	margin-left: 1%;
	margin-top: 34%;
  z-index: 20;
}


#object3{
position: absolute;
  width: 30%;
  height: 25%;
	margin-left: 65%;
	margin-top: 35%;
  z-index: 20;
}

#object4{
position: absolute;
  width: 30%;
  height: 25%;
	margin-left: 80%;
	margin-top: 30%;
  z-index: 20;
}

#object5{
position: absolute;
  width: 30%;
  height: 25%;
	margin-left: 72%;
	margin-top: 8%;
  z-index: 20;
}
