* {
  margin: 0;
  padding: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
  background-color: rgb(210, 210, 210);
}

@font-face {
  font-family: GT America; src: url('GT-America.woff');
}

/* logo */
.logo {
  position: fixed;
  margin: 20px;
  height: 180px;
  z-index: 10000;
  filter: none;
}

img {
  position: absolute;
  z-index: 0;
  -webkit-filter: blur(8px);
  filter: blur(8px);
}

img:hover {
  position: absolute;
  z-index: 9998;
  -webkit-filter: blur(0px);
  filter: none;
}

/* pattern */
.pattern {
  -webkit-filter: blur(0px);
  filter: none;
  position: fixed;
  z-index: 20;
  left: -98px;
  top: -10px;
  min-width: 105%;
  min-height: 105%;
  width: 500px;

  pointer-events: none;
}

/* pattern responsible */
@@media (min-aspect-ratio:16/9) {
  .pattern{
    width: 100%;
    height: auto;
  }
}
@@media (max-aspect-ratio:16/9) {
  .pattern{
    width: auto;
    height: 100%;
  }
}

/* iframes window buttons*/
button {
    display: inline-block;
    height: 110px;
    vertical-align: bottom;
    width: auto;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline: none;
    vertical-align: middle;
    max-height: 90px;
    max-width: 90px;
}


.pen-button {
  height: 90px;
  line-height: 90px;
  width: 20px;
  border: 0px solid transparent;

  text-align: center;
  margin: 1em 0;
  position: absolute;
  padding-left: 90px;
  padding-top: 280px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: none; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0); /* Black w/ opacity */
}


/* Modal Content/Box */
.modal-content {
  height: 700px;
  background-color: rgb(210, 210, 210);
  margin: 14% auto; /* 15% from the top and centered */
  padding: 0px;
  border: none;
  width: 60%; /* Could be more or less, depending on screen size */
  
}

.modal-content img  {
  filter: none;
  margin: auto;
  display: block;
  position: absolute;
}


.modal-content p {
  font-family: GT America, sans-serif;
  font-size: 2.8vw;
    line-height: 1.3;
    text-align: left;
  margin: auto;
  display: block;
  position: absolute;
  padding-left: 490px;
  padding-top: 2%;
  margin-right: 21%;
}


/* The Close Button */
.close {
  color: rgb(210, 210, 210);
  float: right;
  font-size: 0px;
}


.mug-button {
  height: 90px;
  line-height: 90px;
  width: 2000px;
  border: 0px solid transparent;

  text-align: center;
  margin: 1em 0;

  padding-left: 90px;
  padding-top: 230px;
}

.candle-button {
  height: 90px;
  line-height: 90px;
  width: 2000px;
  border: 0px solid transparent;

  text-align: center;
  margin: 1em 0;

  padding-left: 90px;
  padding-top: 500px;
}

.postit-button {
  height: 90px;
  line-height: 90px;
  width: 2000px;
  border: 0px solid transparent;

  text-align: center;
  margin: 1em 0;

  padding-left: 90px;
  padding-top: 2000px;
}

.mouse-button {
  height: 90px;
  line-height: 90px;
  width: 20px;
  border: 0px solid transparent;

  text-align: center;
  margin: 1em 0;

  padding-left: 250px;
  padding-top: 300px;
}

.postit-button {
  height: 90px;
  line-height: 90px;
  width: 20px;
  border: 0px solid transparent;

  text-align: center;
  margin: 1em 0;

  padding-left: 1050px;
  padding-top: 500px;
}

.shirt-button {
  height: 90px;
  line-height: 90px;
  width: 20px;
  border: 0px solid transparent;

  text-align: center;
  margin: 1em 0;

  padding-left: 200px;
  padding-top: 500px;
}

.slides img {
  position: fixed;
  height: 700px;
  margin: 14% auto;
  padding: 0;
  top:0;
  cursor:pointer;
}

@import bourbon

body
  font-family: arial, sans-serif

.content
  height: 5000px

.wrapper
  +display(flex)
  +justify-content(center)
  +align-items(center)
  +size(100% 100vh)
  +position(fixed, 0px null null 0px)

.pen, .candle, .mug, .pattern
  +flex(none)
  +size(100px)
  line-height: 100px
  text-align: center
  font-size: 25px
  color: #fff
  background: #ff8330
  will-change: transform

  &:nth-of-type(2)
    background: #E01B5D
  &:nth-of-type(3)
    background: #30FFFF
  &:nth-of-type(4)
    background: #B3FF30
  &:nth-of-type(5)
    background: #308AFF
  &:nth-of-type(6)
    background: #1BE059
